.notfound-container {
    text-align: center;
    padding: 60px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.notfound-title {
    font-size: 36px;
    font-weight: bold;
    color: #e53935; /* red */
    margin-bottom: 20px;
}

.notfound-text {
    font-size: 18px;
    margin-bottom: 20px;
    color: #999;
}

.notfound-link {
    font-size: 16px;
    color: #1976d2;
    text-decoration: none;
}


.notfound-link:hover {
    text-decoration: underline;
}